* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, main {
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* body {
  display: flex;
  flex-direction: column;
} */

header {
  padding: 7px;
}

footer {
  padding: 10px;
}

header, footer {
  margin: 0; 
  background-color: #fff;
}

h2 {
  color: #323232;
  font-size: 1.8rem;
}

.container:before {
  content: '';
  height: 100%;
  float: left;
}

.container {
  position: relative;
  z-index: 1;
}


.container:after {
  content: '';
  clear: both;
  display: block;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper > div {
  height: 100%;
}

.img-block {
  float: right;
  margin-left: 0px;
  display: flex;
}


.img-block img {
  margin: 0;
  height: 550px;
}

.wrap {
  overflow: auto;
}

.main-by-line {
  display: flex;
  margin: 20px;

}

.secondary-by-line {
  color:grey;
  margin: 20px;
}

.article {
 margin: 25px 20px;
 line-height: 1.3;
 color: #323232;
}

.drink-wrap {
  display: flex;
  flex-direction: column;
}

.drink {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.drink img {
  margin: 8px;
  width: 300px;
  border-radius: 15px;
}

.drinkIngredient {
  display: flex;
  text-align: center;
  font-weight: 400;
  gap: 5px;
}
.measure-container {
  text-align: end;
}
.ingridients-container {
  text-align: start;
}

.drinkInstructions {
  margin: 20px;
  text-align: center;
  padding: 40px;
  background-color: #efefef;
  border-radius: 10px;
}

@media (max-width: 50em) {
  .container:after {
    content: '';
    clear: both;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container:after {
    content: '';
    clear: both;
  }

  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
  }


}